body{
    background-color: #313336;
}
h1{
    font-size: 38px;
    text-align: center;
}
form{
    margin: 15% auto;
    text-align: left;
    font-size: 26px;
    width: 460px;
    height: 810px;
    background-color: #3c3f41;
    color: #dabd69;
    border: solid 4px #505858;
    border-radius: 4px;
}
.group{
    padding-top: 16px;
    padding-left: 25px;

}
#name{
    margin-left: 28px;
    height: 25px;
    width: 220px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#invalidName{
    color: red;
    position: absolute;
    display: block;
    margin: -15px  155px;
}
#invalidFName{
    color: red;
    position: absolute;
    display: block;
    margin: -15px  155px;
}
#fName{
    margin-left: 30px;
    height: 25px;
    width: 220px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#dateOfB{
    margin-left: 10px;
    height: 25px;
    width: 220px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;}
#dateOfB::-webkit-datetime-edit { padding: 1em; }
#dateOfB::-webkit-datetime-edit-fields-wrapper {
    background: #d5bc63;
    border-radius: 1px;
    border: #416c7e 1px solid;
    padding: 0 2px;
}
#dateOfB::-webkit-datetime-edit-text {
    color: #416c7e; padding: 0 0.3em;
}
#dateOfB::-webkit-datetime-edit-month-field {
    color: #313336;

}
#dateOfB::-webkit-datetime-edit-day-field {
    color: #313336;
}
#dateOfB::-webkit-datetime-edit-year-field {
    color: #313336;
}
#dateOfB::-webkit-inner-spin-button {
    display: none;
}
#dateOfB::-webkit-calendar-picker-indicator {
    background: #3b6d7d;
    border-radius: 50%;
    border: solid 1px white;
    margin-right: 5px;
}
#invalidDOB{
    color: red;
    position: absolute;
    display: block;
    margin: -50px  155px;
}
#invalidGender{
    color: red;
    position: absolute;
    display: block;
    margin: -15px  155px;
}
#invalidPass{
    position: absolute;
    margin: 0 120px;
}
#email{
    margin-left: 71px;
    height: 25px;
    width: 220px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#invalidEmail{
    color: red;
    position: absolute;
    display: block;
    margin: -15px  155px;
}
#phone{
    margin-left: 76px;
    height: 25px;
    width: 220px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#invalidPhone{
    display: block;
    position: absolute;
    margin-top:-52px;
    margin-left: 154px;
}
#pass1{
    height: 25px;
    width: 240px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#pass2{
    height: 25px;
    width: 240px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
#password{
    padding-top: 50px;
}
#select{
    height: 28px;
    width: 260px;
    background-color: #dabd69;
    border: solid 3px #383a3e;
    border-radius: 5px;
}
label[for="select"]{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    width: 250px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-left: -25px;

}
#agreements{
    padding-top: 40px;
    padding-bottom: 10px;
}
#terms{
    color: #dabd69;
    padding-left: 8px;
}
#content-area {
    display:none;
    height:200px;
    overflow:auto;
    margin-bottom:1.5em;
    padding:10px;
    border:solid 2px #383a3f;
    border-radius: 3px;
    color:#505050;
    background-color: #d8bc69;
    font-size:90%;
}
#content-area::-webkit-scrollbar {
    width: 11px;
    background-color: #5a503d;
}
#content-area::-webkit-scrollbar-thumb{
    background-color: white;
}

#target{
    color: #dabd69;
}
#submit{
    position: absolute;
    margin:  auto 120px;
    height: 40px;
    width: 170px;
    color: #dabd69;
    background-color: #6180b7;
    font-size: 28px;
    border: none;
    border-radius: 2px;
}
#submit:active{
    color: #ad6c79;
    background-color: #e7eaed;

}
#message{
    position: absolute;
    margin: 0 150px;
    font-size: 19px;
}
#message2{
    position: absolute;
    margin: 27px 150px;
    font-size: 19px;
}

.valid-feedback{
    position: absolute;
    color: green;
    font-size: 16px;
    display: block;
    margin-top: 15px;
    margin-left: 21%;
}
#invalidRepeatPass{
    display: block;
    margin-top: 14px;
}
#invalidPass{
    display: block;
    margin-left: 197px;
}
label.error{}
label.error{
    color:red;
    font-size: 16px;
    position: absolute;
    display: block;
    margin-left: 160px;

}
#invalidSelect{
    position: absolute;
    display: block;
    margin: -45px 153px;
}
#invalidTerms{
    position: absolute;
    display: block;
    margin:-12px 153px ;
    color: red;
}

#vanillaJS{
    margin: 0;
    display: block;
}
#shortRepeatPass{
    position: absolute;
    display: block;
    margin-top: -58px;
    margin-left: 154px;

}
#shortPass{
    position: absolute;
    display: block;
    width: 300px;
    margin-left: 154px;
    margin-top: 50px;
    font-size: 16px;
}

